// $mobile: 320px;
// $tablet: 768px;
// $desktop: 1280px;
// $mob-max-width: 767px;

.basicLightbox_placeholder {
  position: fixed;
}

.modal-movie {
  animation: Opacity 1.5s ease alternate;
  background-color: var(--white);
  // border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
  top: 10%;
  width: 88%;
  height: auto;
  padding: 40px 20px;

  @media screen and (min-width: 768px) {
    width: 618px;
    padding: auto 75px;
    display: flex;
  }

  .movie-title {
    // display: flex-wrap;
    width: 266px;
    height: 21px;
    text-align: left;
    color: var(--black);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
    margin-top: 31px;
  }

  img {
    display: flex;
    // padding: 48px 20px auto 20px;
    justify-content: center;
    height: auto;
    width: 240px;
    //
    // flex-shrink: 0;
  }
  .movie-details-modal {
    display: flex;
    gap: 33.33%;

    .property {
      padding-left: 0;
      text-align: left;
      color: #8c8c8c;
      padding-top: 20px;
      font-family: Roboto;
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
    }
    .values {
      padding-bottom: 10px;
      padding-left: 0;

      .vote {
        color: #f7f7f7;
        background-color: #ff6b08;
        border-radius: 5px;
        padding: 1px 10px;
        color: #fff;
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
      }
      .votes {
        color: #000;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        text-align: center;
        font-family: 'Roboto';
        font-weight: 500;
        text-transform: uppercase;
      }
    }
  }

  .button-close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 300ms ease-in;
  }
  .button-close:hover,
  .button-close:focus {
    background-color: var(--orange);
    border: none;
    color: var(--white);
  }
  .button-close-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: currentColor;
  }
}

