.upcoming-title{
    text-align: center;
    margin-top: 50px;
  }
  
  .movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive columns */
    gap: 20px;
    margin-top: 20px;
  }
  
  .upcoming-movie-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .upcoming-movie-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .upcoming-movie-card h2 {
    margin-top: 10px;
  }
  
  .upcoming-movie-card p {
    font-size: 14px;
    color: #666;
  }

  .upcoming-img {
   max-width: 100%;
    height: auto;
    display: block;
  }