<header class="header">
  <div class="container main-container">
    <a href="/" class="nav-logo film" target="">
      <svg class="film-icon-svg">
        <use id="film-icon" href="./images/header-images/film.svg#film"></use>
      </svg>
    </a>
    <nav class="nav-bar">
      <ul class="nav-menu">
        <li class="nav nav-menu-list title">
          <a href="/" class="nav-link title" target=""> Filmoteka </a>
        </li>
        <li class="nav nav-menu-list home">
          <a href="./index.html" class="nav-list-link home" target=""> HOME </a>
        </li>
        <li class="nav nav-menu-list library">
          <a href="/" class="nav-list-link library" target=""> MY LIBRARY </a>
        </li>
        <!-- <li><h1>HEADER</h1></li> -->
      </ul>
    </nav>
  </div>
  <form class="search-form" id="search-form">
    <div class="container form-container">
      <input
        type="text"
        name="searchQuery"
        id="input-textbox"
        autocomplete="off"
        placeholder="Search Movies"
        autofocus
      />
      <button type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  </form>
</header>
