<div class="backdrop-movie is-hidden">
  <div class="modal- is-hidden">
    <button class="button-close" data-modal-close>
      <svg class="button-close__icon-close" width="30" height="30">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="movie-card">
      <!-- <img src=""  class="movie-card-image"  alt="Movie poster title" loading ="lazy"/> -->
      <div class="movie-data">
        <h2 class="movie-data-title"></h2>
        <ul class="movie-data-list">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <h3 class="movie-data-about">About</h3>
        <p class="movie-data-about"></p>
        <ul></ul>
      </div>
    </div>
  </div>
</div>
